input {
    border: none;
    background-color: rgb(178, 192, 235);
    padding: 12px;
    margin: 3px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
}

input:focus {
    background-color: $heapMain-light;
}

input[type=number] {
    width: 3rem;
    text-align: center;
}

.itemForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#name {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#dueDay {
    border-radius: 4px 0px 0px 4px;
    border-right: 1px solid rgb(171, 171, 224);
    margin-right: 0;
}

#dueMonth {
    border-radius: 0px 4px 4px 0px;
    margin-left: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
    color: $greyBlue;
    text-shadow: none;
    -webkit-text-fill-color: initial;
}

input.form-error {
    border: 1px solid $errorRed;
    background-color: $errorRed-light;
}

input.form-error#dueDay {
    border-right: 1px solid $errorRed
}

.error-message {
    font: 18px "Quicksand";
    color: $errorRed-matte;
    margin-top: 0.5em;
    padding: 0.5em;
    text-align: center;
}