.itemlist {
    margin-top: 30px;
}

.columnNames {
    font: 23px "Quicksand";
    font-weight: 300;
    color: #272626;
    display: flex;
    margin-top: 0px;

    .dateCol {
        width: 20%;
    }

    .nameCol {
        width: 40%;
    }

    .descriptionCol {
        width: 40%;
    }
}