@import 'variables';

.verticalColumn:last-child {
    margin-bottom: 20px;
}

.columnNames {
    font: 23px "Quicksand";
    // font-weight: 300;
    color: $blackIsh;
    display: flex;
    margin-top: 0px;
    justify-content: space-between;
    margin: 0 12px 0 12px;

    * {
        margin-bottom: 6px;
    }

    .nameCol {
        width: $nameColumnWidth;
    }

    .notesCol {
        width: $notesColumnWidth;
    }

    .dateCol {
        width: $dateColumnWidth;
        min-width: 95px;
    }
}

.message {
    font: 23px "Quicksand";
    color: $greyBlue;
    margin-top: 1.5em;
    padding: 0.5em;
    text-align: center;
}

.tag {
    font: 18px "Quicksand";
    font-weight: 300;
    // margin-left: $smallMargin;
    margin: $smallMargin 0 $smallMargin 0;
}