@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400');

.item {
    font: 25px "Quicksand";
    font-weight: 300;
    display: flex;

    .date {
        width: 20%;
    }

    .name {
        width: 40%;
    }

    .description {
        width: 40%;
    }

}