@import 'variables';

.verticalColumn:last-child {
    margin-bottom: 20px;
}

.columnNames {
    font: 23px "Quicksand";
    font-weight: 300;
    color: #272626;
    display: flex;
    margin-top: 0px;
    justify-content: space-between;
    margin: 0 12px 0 12px;

    * {
        margin-bottom: 6px;
    }

    .nameCol {
        width: $nameColumnWidth;
    }

    .descriptionCol {
        width: $descriptionColumnWidth;
    }

    .dateCol {
        width: $dateColumnWidth;
        min-width: 95px;
    }
}

.message {
    font: 23px "Quicksand";
    color: #666666;
    margin-top: 1.5em;
    padding: 0.5em;
    text-align: center;
}
