@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400');

.item {
    width: 75%;
    margin: 15px;
    font: 25px "Quicksand";

    .date {
        width: 20%;
    }

    .name {
        width: 40%;
        text-align: center;
    }

    .description {
        width: 40%;
        text-align: center;
    }

}