.topbar {
    font: 25px "Quicksand";
    display: flex;
    align-items: baseline;

    .datetime {
        display: flex;
        width: 60%;

        .time {
            width: 33%;
        }
    
        .currentdate {
            width: 67%;
        }
    
    }

    .add {
        width: 40%;
        font-size: 35px;
        font-weight: 300;
        user-select: none;
        cursor: pointer;
    }

    .add:hover {
        color: #494848;
    }

}