// Structure
$nameColumnWidth: 250px;
$notesColumnWidth: 300px;
$dateColumnWidth: 110px;
$largeMargin: 48px;
$smallMargin: 12px;

// Colours
$greyBlue: #929496;
$blackIsh: #272626;
$whiteGrey: #f0f0f0;
$heapMain: #7998f3;
$heapMain-light: #b4c5f3;
$errorRed: #f05e5e;
$errorRed-light: #f3a9a9;
$errorRed-matte: #d47878;
$shadow: rgba(0, 0, 0, 0.2);
$shadow-light: rgba(0, 0, 0, 0.102);