@import 'itemtable';
@import 'item';
@import 'topbar';
@import 'additem';

body {
    background-color: #7998f3;
    -webkit-app-region: drag;
    margin-top: 1rem;
    width: 100%;
}

input, button {
    -webkit-app-region: no-drag;
}

.center {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.horizontal {
    display: flex;
    align-items: baseline;

    &:first-child {
        margin-left: $smallMargin;
    }

    &:last-child {
        margin-right: $smallMargin;
    }
}

.paper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f0f0f0;
    border-radius: 12px;
    overflow: auto;

    .light {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
        background-color: #b4c5f3;
    }
}

.verticalColumn {
    display: flex;
    justify-content: center;
    flex-direction: column;
}