@import 'itemtable';
@import 'item';
@import 'topbar';
@import 'additem';

body {
    background-color: $heapMain;
    -webkit-app-region: drag;
    margin-top: 1rem;
    width: 100%;
}

input, button {
    -webkit-app-region: no-drag;
}

.center {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.horizontal {
    display: flex;
    align-items: baseline;

    &:first-child {
        margin-left: $smallMargin;
    }

    &:last-child {
        margin-right: $smallMargin;
    }
}

.paper {
    box-shadow: 0 4px 8px 0 $shadow, 0 4px 8px 0 $shadow;
    background-color: $whiteGrey;
    border-radius: 12px;
    overflow: auto;

    .light {
        box-shadow: 0 2px 2px 0 $shadow-light, 0 2px 2px 0 $shadow-light;
        background-color: $heapMain-light;
    }
}

.verticalColumn {
    display: flex;
    justify-content: center;
    flex-direction: column;
}