@import 'item';
@import 'topbar';

body {
    background-color: #7998f3;
    -webkit-app-region: drag;
    margin-top: 1rem;
    width: 100%;
}

button {
    -webkit-app-region: no-drag;
}

.horizontal {
    display: flex;
    align-items: center;
}